%ui-base{
  background-color: rgb(237, 109, 100);
  font-size: 3rem;
  padding: 4rem 0;
  text-align: center;
}
.ui-header{
  @extend %ui-base;
  font-size: 4rem;
}

.ui-small-header{
  @extend %ui-base;
  font-size: 1rem;
  padding: 1rem;
}